* {
    font-family: 'Times New Roman', Times, serif;
}

.navbar {
    overflow: hidden;
    background-color: #D3CCE8;
    color: #DD2D4A;
    position: fixed;
    top: 0;
    width: 100%;
    height: 50px;
    justify-content: space-between;
}

.navbar img {
    margin-left: 20px;
}

.nav-item {
    color: #DD2D4A;
}

.nav-item:hover {
    color: #BE152C;
    text-decoration: underline;
  }

.container {
    padding: 40px;
    justify-content: center;
}

.chatlist {
    margin-left: 10px;
    width: 400px;
    height: 500px;
    padding: 20px;
    background-color: #D3CCE8;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.chatbox {
    margin-right: 10px;
    width: 700px;
    height: 500px;
    padding: 20px;
    background-color: #D3CCE8;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#messages {
    height: 200px;
    overflow-y: auto;
    padding: 10px;
    margin-bottom: 10px;
}

#inputArea {
    display: flex;
}

#messageInput {
    flex: 1;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-right: 10px;
}

#sendMessageBtn {
    padding: 8px 15px;
    background-color: #654fa9;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
