* {
    font-family: 'Times New Roman', Times, serif;
  }
  
  .banner {
      width: 100%;
      height: 100vh;
      background-size: cover;
      background-position: center;
      position: relative;
  }
  
  .banner h1{
    margin-top: 10%;
    margin-left: 10%;
  }
  
  .navbar {
    overflow: hidden;
    background-color: #D3CCE8;
    color: #DD2D4A;
    position: fixed;
    top: 0;
    width: 100vw;
    height: 10%;
    justify-content: space-between;
    z-index: 1000;
  }
  
  .navbar img {
    margin-left: 0;
    height: 55%;
    width: 171px;
    position: absolute;
  }
  
  .container-fluid {
    margin: 0 30px;
    width: 99%;
    height: 10%;
    position: fixed;
    left: 0;
    z-index: 1000;
  }
  
  .banner .navbar-nav {
    float: right;
  }
  
.navbar-collapse {
  margin-left: 35px;
}


  .nav-item {
    color: #DD2D4A;
    margin-right: 15px;
    font-size: 30px;
  }
  
  .nav-item:hover {
    color: #BE152C;
    text-decoration: underline;
  }

  .card1{
    position: absolute;
    border-radius: 10px;
    box-sizing: border-box;
    left: 33%;
    top: 15%;
    width: 40%;
    height: 7%;
    background-color: #8C75B3;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 1);
  }

  .card1 h2{
    padding: 2%;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    text-shadow: 0 4px 8px rgba(0, 0, 0, 1);
    font-size: 350%;
  }

  .ProfileCard{
    position: absolute;
    border-radius: 10px;
    box-sizing: border-box;
    left: 35%;
    top: 25%;
    width: 35%;
    height: 70%;
    background-color: #8452AC;
  }

  .Preview{
    text-align: center;
    color: #fff;
    opacity: 0.7;;
    text-transform: uppercase;
  }

  .ProfileCard .ProfilePicture{
    border-radius: 20px;
    margin-left: 2%;
    width: 95%;
  }

  .s1
  {
    position: relative;
    background-color: #8452AC;
    width: 25%;
    height: 8%;
    left: 5%;
    top: -3%;
    border: none;
  }

  .nameNage{
    text-align: center;
    color: #fff;
    text-shadow: 0 4px 8px rgba(0, 0, 0, 1);
  }

  .s3{
    position: relative;
    width: 95%;
    border-radius: 10px;
    left: 2%;
    top: -2%;
    height: 50%;
  }

  .premium{
    position: absolute;
    border-radius: 10px;
    box-sizing: border-box;
    left: 8%;
    top: 15%;
    width: 15%;
    height: 30%;
    background-color: #ee2c15;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 1);
    transition: transform 0.5s;
  }

.premium:hover{
  transform: translateY(-10px);
}

  .premium h2{
    color: #fff;
    text-align: center;
    font-size: 400%;
    text-transform: uppercase;
    line-height: 2;
    text-shadow: 0 4px 8px rgba(0, 0, 0, 1);
  }

  .settings{
    position: absolute;
    border-radius: 10px;
    box-sizing: border-box;
    left: 5%;
    top: 50%;
    width: 20%;
    height: 5%;
    background-color: #8C75B3;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 1);
  }
  .settings h2{
    color: #fff;
    text-shadow: 0 4px 8px rgba(0, 0, 0, 1);
    text-align: center;
    text-transform: uppercase;
    font-size: 300%;
  }

  .parameters{
    position: absolute;
    border-radius: 10px;
    box-sizing: border-box;
    left: 8%;
    top: 60%;
    width: 20%;
    height: 10%;
    border-bottom: none;
    border-top: none;
    border-right: none;
  }

  .parameters .a{
    text-transform: uppercase;
  }

  .log_out{
    position: absolute;
    border-radius: 10px;
    box-sizing: border-box;
    left: 10%;
    top: 75%;
    width: 10%;
    height: 4%;
    background-color: #BE152C;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 1);
  }
  .log_out h2{
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 0 4px 8px rgba(0, 0, 0, 1);
  }

  .rating{
    margin-top: -35%;
    margin-left: 80%;
    width: 160px;
    height: 160px;
    position: relative;
  }
  .outer{
    position: inherit;
    height: 160px;
    width: 160px;
    border-radius: 50%;
    padding: 20px;
    box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15),
    -6px -6px 10px -1px rgba(255, 255, 255, 0.7);
  }
  .inner{
    position: inherit;
    height: 120px;
    width: 120px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: inset 4px 4px 6px -1px rgba(0, 0, 0, 0.2),
                inset -4px -4px 6px -1px rgba(255, 255, 255, 0.7),
                -0.5px -0.5px 0px rgba(255, 255, 255, 1),
                0.5px 0.5px 0px rgba(0, 0, 0, 0.15),
                0px 12px 10px 10px rgba(0, 0, 0, 0.05);
  }
  #number{
    margin-left: 15%;
    font-weight: 600;
    color:#555;
  }

  circle{
    fill: none;
    stroke: url(#GradientColor);
    stroke-width: 20px;
    stroke-dasharray: 472;
    stroke-dashoffset: 472;
    animation: anim 2s linear forwards;
  }
  svg{
    position: absolute;
    top: 20%;
    left: 80%;
    width: 20%;
  }

  @keyframes anim{
    100%{
        stroke-dashoffset: 0;
    }
  }

  .connections{
    width: 800px;
    height: 600px;
    top: 65%;
    position: absolute;
    left: 75%;
    width: 500px;
  }
  .heart{
    position: relative;
    top:50%;
    left: 0%;
    margin-top: -100%;
    opacity: 0.75;
  }
.IDK{
    margin-left: 20%;
    position: relative;
    left: 70px;
    transform: translateX(5%);
    margin-top: -15%;
    width: 60%;
    color: #fff;
  }